#header-img {
    width: 150px;
    height: auto;
}

.bg-gradient {
    background: rgb(0, 123, 255);
    background: linear-gradient(0deg, rgba(0, 123, 255, 1) 0%, rgba(255, 255, 255, 1) 89%);
}

/* Bubbles */

.bubbles-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 15rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0.75;
    overflow: visible;
}

.bubbles {
    width: 100%;
    height: auto;
}

.bubbles circle {
    stroke: white;
    fill: none;
}

.bubbles > g > g:nth-of-type(3n) circle {
    stroke: #87f5fb;
}

.bubbles > g > g:nth-of-type(4n) circle {
    stroke: #8be8cb;
}

.bubbles-large {
    overflow: visible;
}

.bubbles-large > g {
    -webkit-transform: translateY(2048px);
    transform: translateY(2048px);
    opacity: 0;
    will-change: transform, opacity;
}

.bubbles-large g:nth-of-type(1) {
    -webkit-animation: up 6.5s infinite;
    animation: up 6.5s infinite;
}

.bubbles-large g:nth-of-type(1) g {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
}

.bubbles-large g:nth-of-type(1) circle {
    -webkit-animation: wobble 3s infinite ease-in-out;
    animation: wobble 3s infinite ease-in-out;
}

.bubbles-large g:nth-of-type(2) {
    -webkit-animation: up 5.25s 250ms infinite;
    animation: up 5.25s 250ms infinite;
}

.bubbles-large g:nth-of-type(2) g {
    -webkit-transform: translateX(450px);
    transform: translateX(450px);
}

.bubbles-large g:nth-of-type(2) circle {
    -webkit-animation: wobble 3s infinite ease-in-out;
    animation: wobble 3s infinite ease-in-out;
}

.bubbles-large g:nth-of-type(3) {
    -webkit-animation: up 6s 750ms infinite;
    animation: up 6s 750ms infinite;
}

.bubbles-large g:nth-of-type(3) g {
    -webkit-transform: translateX(700px);
    transform: translateX(700px);
}

.bubbles-large g:nth-of-type(3) circle {
    -webkit-animation: wobble 3s infinite ease-in-out;
    animation: wobble 3s infinite ease-in-out;
}

.bubbles-large g:nth-of-type(4) {
    -webkit-animation: up 5.5s 1.5s infinite;
    animation: up 5.5s 1.5s infinite;
}

.bubbles-large g:nth-of-type(4) g {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}

.bubbles-large g:nth-of-type(4) circle {
    -webkit-animation: wobble 3s infinite ease-in-out;
    animation: wobble 3s infinite ease-in-out;
}

.bubbles-large g:nth-of-type(5) {
    -webkit-animation: up 6.5s 4s infinite;
    animation: up 6.5s 4s infinite;
}

.bubbles-large g:nth-of-type(5) g {
    -webkit-transform: translateX(675px);
    transform: translateX(675px);
}

.bubbles-large g:nth-of-type(5) circle {
    -webkit-animation: wobble 3s infinite ease-in-out;
    animation: wobble 3s infinite ease-in-out;
}

.bubbles-small {
    overflow: visible;
}

.bubbles-small > g {
    -webkit-transform: translateY(2048px);
    transform: translateY(2048px);
    opacity: 0;
    will-change: transform, opacity;
}

.bubbles-small g circle {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.bubbles-small g:nth-of-type(1) {
    -webkit-animation: up 5.25s infinite;
    animation: up 5.25s infinite;
}

.bubbles-small g:nth-of-type(1) g {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
}

.bubbles-small g:nth-of-type(1) circle {
    -webkit-animation: wobble 3s infinite ease-in-out;
    animation: wobble 3s infinite ease-in-out;
}

.bubbles-small g:nth-of-type(2) {
    -webkit-animation: up 5.75s infinite;
    animation: up 5.75s infinite;
}

.bubbles-small g:nth-of-type(2) g {
    -webkit-transform: translateX(750px);
    transform: translateX(750px);
}

.bubbles-small g:nth-of-type(2) circle {
    -webkit-animation: wobble 3s infinite ease-in-out;
    animation: wobble 3s infinite ease-in-out;
}

.bubbles-small g:nth-of-type(3) {
    -webkit-animation: up 5.25s 250ms infinite;
    animation: up 5.25s 250ms infinite;
}

.bubbles-small g:nth-of-type(3) g {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
}

.bubbles-small g:nth-of-type(3) circle {
    -webkit-animation: wobble 3s 250ms infinite ease-in-out;
    animation: wobble 3s 250ms infinite ease-in-out;
}

.bubbles-small g:nth-of-type(4) {
    -webkit-animation: up 5.75s 325ms infinite;
    animation: up 5.75s 325ms infinite;
}

.bubbles-small g:nth-of-type(4) g {
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
}

.bubbles-small g:nth-of-type(4) circle {
    -webkit-animation: wobble 3s 325ms infinite ease-in-out;
    animation: wobble 3s 325ms infinite ease-in-out;
}

.bubbles-small g:nth-of-type(5) {
    -webkit-animation: up 6s 125ms infinite;
    animation: up 6s 125ms infinite;
}

.bubbles-small g:nth-of-type(5) g {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
}

.bubbles-small g:nth-of-type(5) circle {
    -webkit-animation: wobble 3s 250ms infinite ease-in-out;
    animation: wobble 3s 250ms infinite ease-in-out;
}

.bubbles-small g:nth-of-type(6) {
    -webkit-animation: up 5.13s 250ms infinite;
    animation: up 5.13s 250ms infinite;
}

.bubbles-small g:nth-of-type(6) g {
    -webkit-transform: translateX(650px);
    transform: translateX(650px);
}

.bubbles-small g:nth-of-type(6) circle {
    -webkit-animation: wobble 3s 125ms infinite ease-in-out;
    animation: wobble 3s 125ms infinite ease-in-out;
}

.bubbles-small g:nth-of-type(7) {
    -webkit-animation: up 6.25s 350ms infinite;
    animation: up 6.25s 350ms infinite;
}

.bubbles-small g:nth-of-type(7) g {
    -webkit-transform: translateX(480px);
    transform: translateX(480px);
}

.bubbles-small g:nth-of-type(7) circle {
    -webkit-animation: wobble 3s 325ms infinite ease-in-out;
    animation: wobble 3s 325ms infinite ease-in-out;
}

.bubbles-small g:nth-of-type(8) {
    -webkit-animation: up 7s 200ms infinite;
    animation: up 7s 200ms infinite;
}

.bubbles-small g:nth-of-type(8) g {
    -webkit-transform: translateX(330px);
    transform: translateX(330px);
}

.bubbles-small g:nth-of-type(8) circle {
    -webkit-animation: wobble 3s 325ms infinite ease-in-out;
    animation: wobble 3s 325ms infinite ease-in-out;
}

.bubbles-small g:nth-of-type(9) {
    -webkit-animation: up 6.25s 233ms infinite;
    animation: up 6.25s 233ms infinite;
}

.bubbles-small g:nth-of-type(9) g {
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
}

.bubbles-small g:nth-of-type(9) circle {
    -webkit-animation: wobble 3s 275ms infinite ease-in-out;
    animation: wobble 3s 275ms infinite ease-in-out;
}

.bubbles-small g:nth-of-type(10) {
    -webkit-animation: up 6s 900ms infinite;
    animation: up 6s 900ms infinite;
}

.bubbles-small g:nth-of-type(10) g {
    -webkit-transform: translateX(730px);
    transform: translateX(730px);
}

.bubbles-small g:nth-of-type(10) circle {
    -webkit-animation: wobble 2s 905ms infinite ease-in-out;
    animation: wobble 2s 905ms infinite ease-in-out;
}

@-webkit-keyframes wobble {
    33% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    66% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}

@keyframes wobble {
    33% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    66% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}

@-webkit-keyframes up {
    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-1024px);
        transform: translateY(-1024px);
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-1024px);
        transform: translateY(-1024px);
    }
}

.material-icons {
    font-size: 48px;
    margin: 0 0 2rem;
}

.bg-network {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='416' height='416' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%238bb3d6' stroke-width='1.2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233852a1'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.divider {
    width: 100%;
    height: 100px;
    background: #007bff;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }